@font-face {
    font-family: 'Open Sans';
    src: url('fonts/subset-OpenSans-Bold.eot');
    src: url('fonts/subset-OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-OpenSans-Bold.woff2') format('woff2'),
        url('fonts/subset-OpenSans-Bold.woff') format('woff'),
        url('fonts/subset-OpenSans-Bold.ttf') format('truetype'),
        url('fonts/subset-OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/subset-OpenSans-Regular.eot');
    src: url('fonts/subset-OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-OpenSans-Regular.woff2') format('woff2'),
        url('fonts/subset-OpenSans-Regular.woff') format('woff'),
        url('fonts/subset-OpenSans-Regular.ttf') format('truetype'),
        url('fonts/subset-OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    margin: 0;
    font-weight: 400;
}
.title1 {
    background-image: url("images/Gradient_Map_1.png");
    background-size: cover;
    padding-top: 124px;
    padding-right: 123px;
    padding-bottom: 135px;
    padding-left: 92px;
    text-align: center;
}
.title1 span {
    color: #ffffff;
    font-size: 48px;
}
.title2 {
    font-size: 30px;
    color: #333333;
    margin-left: 49px;
    margin-top: 30px;
}
.text1 {
    color: #333333;
    font-size: 16px;
    margin-left: 48px;
    margin-top: 35px;
}
.text700 {
    font-weight: 700;
}
.text2 {
    color: #333333;
    font-size: 16px;
    margin-left: 48px;
}
.title3 {
    color: #305d72;
    font-size: 24px;
    margin-left: 48px;
    margin-top: 73px;
}
.tabl {
    background-image: url("images/Shape_1.png");
    height: 1px;
    background-color: #dddddd;
    margin-left: 48px;
    margin-top: 10px;
    margin-right: 51px;
}
.text3 {
    color: #333333;
    font-size: 16px;
    margin-left: 48px;
    margin-top: 30px;
}
.PRf {
    color:#3e85c4;
}
.tabl2 {
    background-image: url("images/Rectangle_1.png");
    background-size: cover;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
    margin-top: 69px;
}
.copyright {
    font-size: 14px;
    font-weight: 400;
    color: #bebebe;
}
.link {
    color: #3e85c4;
    font-size: 14px;
    text-decoration: none;
    margin-right: 23px;
}
.nav {
    float: right;
}
.footer {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}